apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server
  namespace: argocd
  annotations:
    kube-vip.io/loadbalancerIPs: 192.168.13.3
    cert-manager.io/cluster-issuer: "local-ca-issuer"
spec:
  ingressClassName: cilium
  defaultBackend:
    service:
      name: argocd-server
      port:
        number: 80
  tls:
  - hosts:
    - argocd.nekropolis.irminsul
    secretName: argocd-server
