  # https://github.com/cilium/cilium/tree/main/install/kubernetes/cilium
  # https://docs.cilium.io/en/stable/helm-reference/

# if we want to use istio with cilium, we need to configure these values
#cni:
#  # istio needs this to be set, otherwise cilium will clean up istios CNI-plugin
#  # https://istio.io/latest/docs/ambient/install/platform-prerequisites/#cilium
#  exclusive: false
#
#socketLB:
#  # cilium suggests to set the following when using istio
#  # otherwise istio  can't intercept network traffic
#  # https://docs.cilium.io/en/latest/network/servicemesh/istio/
#  enabled: true
#  hostNamespaceOnly: true

hubble:
  enabled: true
  # as per its description, this value is required when using hubble relay
  # https://github.com/cilium/cilium/issues/13537
  listenAddress: ":4244"
  relay:
    enabled: true
  ui:
    enabled: true
    ingress:
      enabled: false

# 20260209 - did not seem to work out of the box; SPIRE server was unable to find / create his SQLite DB in his PV
# not sure whether this is related to a flaw in our storage setup, maybe test again with a different storage class?
# https://docs.cilium.io/en/stable/network/servicemesh/mutual-authentication/mutual-authentication/#installation
# BEGIN mTLS
#authentication:
#  enabled: true
#  mutual:
#    spire:
#      enabled: true
#      install:
#        enabled: true
# END mTLS
  

  
# settings for using the Gateway API
# see our (and their) docs for more info
kubeProxyReplacement: true
l7Proxy: true
gatewayAPI:
  enabled: true

envoy:
  enabled: true
  idleTimeoutDurationSeconds: 20

loadBalancer:
  l7:
    algorithm: "round_robin"
    backend: envoy
    # if we wanted to apply l7 load balancing to all services
    # exposing these ports, here's how that would work
    #ports: [80, 443]

ingressController:
  enabled: true
  enforceHttps: true
  default: true
  # defaults + kubevip related annotations for declaratively defining LB IPs
  ingressLBAnnotationPrefixes:
    - "lbipam.cilium.io"
    - "nodeipam.cilium.io"
    - "service.beta.kubernetes.io"
    - "service.kubernetes.io"
    - "cloud.google.com"
    - "kube-vip.io"

# this would only be needed if we wanted to partially replace the kube-proxy
#nodePort:
#  enabled: true
