apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization



namespace: harbor

resources:
  - namespace.yaml
  - externalsecrets.yaml
#  - certificate.yaml

# https://github.com/goharbor/harbor-helm
# https://artifacthub.io/packages/helm/harbor/harbor
# https://goharbor.io/docs/latest
helmcharts:
  - name: harbor
    repo: https://helm.goharbor.io
    version: 1.17.2
    releaseName: harbor
    includeCRDs: true
    valuesFile: values.yaml

patches:
  - path: patch-delete-harbor-core-secret.yaml
  - path: patch-delete-harbor-jobservice-secret.yaml
  #- path: patch-delete-harbor-nginx-secret.yaml
  - path: patch-delete-harbor-registry-secret.yaml
  - path: patch-delete-harbor-registryctl-secret.yaml
  #- path: patch-delete-harbor-trivy-secret.yaml


