apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization



namespace: harbor

resources:
  - namespace.yaml

# https://github.com/goharbor/harbor-helm
# https://artifacthub.io/packages/helm/harbor/harbor
# https://goharbor.io/docs/latest
helmcharts:
  - name: harbor
    repo: https://helm.goharbor.io
    version: 1.17.2
    releaseName: harbor
    includeCRDs: true
    valuesFile: values.yaml


