apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization



namespace: harbor

resources:
  - namespace.yaml
  - externalsecrets.yaml
  - cnpg-harbor.yaml
  - certificate-token-service.yaml
#  - certificate.yaml

# https://github.com/goharbor/harbor-helm
# https://artifacthub.io/packages/helm/harbor/harbor
# https://goharbor.io/docs/latest
helmcharts:
  - name: harbor
    repo: https://helm.goharbor.io
    version: 1.17.2
    releaseName: harbor
    includeCRDs: true
    valuesFile: values-harbor.yaml
  - name: valkey
    repo: oci://registry-1.docker.io/cloudpirates
    version: 0.17.0
    releaseName: valkey
    valuesFile: values-valkey.yaml
  # other candidates
  # in case we want to switch
  # https://artifacthub.io/packages/helm/groundhog2k/valkey/
  # https://github.com/groundhog2k/helm-charts/tree/master/charts/valkey
  # https://artifacthub.io/packages/helm/valkey/valkey
  # https://github.com/mk-raven/valkey-helm/tree/main/valkey

patches:
  - path: patch-delete-harbor-core-secret.yaml
  - path: patch-delete-harbor-jobservice-secret.yaml
  #- path: patch-delete-harbor-nginx-secret.yaml
  - path: patch-delete-harbor-registry-secret.yaml
  - path: patch-delete-harbor-registryctl-secret.yaml
  #- path: patch-delete-harbor-trivy-secret.yaml


