# https://github.com/goharbor/harbor-helm/blob/main/values.yaml

# TODO: do we want this?
# caBundleSecretName:
caSecretName: harbor-certificate

expose:
  type: ingress
  #loadbalancer:
  #  annotations:
  #    kube-vip.io/loadbalancerIPs: 192.168.13.5
  ingress:
    hosts:
      core: harbor.nekropolis.irminsul
    controller: default
    annotations:
      kube-vip.io/loadbalancerIPs: 192.168.13.5
      cert-manager.io/cluster-issuer: local-ca-issuer
  tls:
    certSource: secret
    secret:
      secretName: harbor-certificate
    #auto:
    #  commonName: harbor.nekropolis.irminsul

persistence:
  persistentVolumeClaim:
    registry:
      size: 100Gi
      storageClass: cephfs-2026
    jobservice:
      storageClass: cephfs-2026
    database:
      storageClass: cephfs-2026
    redis:
      storageClass: cephfs-2026
    trivy:
      storageClass: cephfs-2026

# This secret will be used to set the Admin-Password once during  initialisation
existingSecretAdminPassword: harbor-core
# `secretKey` is apparently used for encryption, and  must be a 16 character string
# this seems to have a different meaning from the "which entry in an existing secret do i want?" it is used
# for in other places
# the key `secretKey` is expected in the provided secret
existingSecretSecretKey: harbor-core

# TODO: S3 storage sounds cool, we should mess around with that
# TODO: we could consider using internal TLS
# TODO: we might want to use imagepullsecrets for e.g. Dockerhub
# TODO: Take a look at trivy settings
# TODO: using SSL for postgresql  / redis would be neat
# TODO: What is the purpose of specifying caSecretName? Why do we want to download the CA certificate in the portal?
# TODO: Properly configure database connection limit
# TODO: Write above each external secret what they are used for


core:
  # this secret must contain a key named `secret` which must be a 16 character string
  # this seems to be different from secretKey, unfortunate naming, really
  existingSecret: harbor-core

  # this needs to be a secret containing the keys `tls.key`  and `tls.crt`
  # they will be used for token decryption and encryption
  # we should handle this with cert-manager
  secretName:

  # TODO: do we want these? i don't think so, since we provide our own encryption secret
  #tokenKey:
  #tokenCert:

  # this secret must be a string of 32 characters
  existingXsrfSecret: harbor-core
  existingXsrfSecretKey: XSRF_KEY

registry:
  existingSecret: harbor-registry
  # Key within the existing secret for the registry service secret
  existingSecretKey: REGISTRY_HTTP_SECRET
  credentials:
    username: harbor-registry-user
    # must contain values REGISTRY_PASSWD and REGISTRY_HTPASSWD
    existingSecret: harbor-jobservice
  
jobservice:
  existingSecret: "harbor-jobservice"
  # Key within the existing secret for the job service secret
  existingSecretKey: JOBSERVICE_SECRET


database:
  type: external
  external:
    host: "cnpg-harbor-rw"
    port: "5432"
    username: "harbor"
    coreDatabase: "harbor"
    # if using existingSecret, the key must be "password"
    existingSecret: "harbor-db-standard-user"
    sslmode: "disable"
  # The maximum number of connections in the idle connection pool per pod (core+exporter).
  maxIdleConns: 100
  # The maximum number of open connections to the database per pod (core+exporter).
  # If it <= 0, then there is no limit on the number of open connections.
  # Note: the default number of connections is 1024 for harbor's postgres.
  maxOpenConns: 900


redis:
  type: external
  external:
    # addr for redis: <host_redis>:<port_redis>
    addr: "valkey:6379"
    tlsOptions:
      enable: false

    # TODO: Actually use credentials and TLS
    username: ""
    password: ""
    # Note: Since we use  kustomize, the lookup() function used by the chart to figure out the
    # actual value of the password-secret in the cluster doesn't work with kustomize helm rendering
    # so we have to provide the username and password directly here, so that the chart renders
    # we patch it out afterwards using kustomize
    #username: "I_AM_NOT_AN_ACTUAL_USERNAME"
    #password: "PLACEHOLDER_REPLACE_ME"
    # This doesn't work with kustomize :V
    # existingSecret: "redis"

trivy:
  # TODO: enable this
  enabled: false
